<% provide(:title, "Home") %>

<!-- Header -->
    <!-- <a name="about"></a> -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Home Page</h1>
                        <h3>Water Footprint calculator</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://www.fbk.eu"  target=”_blank” class="btn btn-default btn-lg"><%= image_tag("fbk_logo.png", height:"20") %><span class="network-name">  FBK</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<!--<a name="services"></a>-->
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Short description of WF:<br>Virtual Water</h2>
                    <p class="lead">A special thanks to FBK for creating this website. Visit their <a href="http://www.fbk.eu">website</a> to follow them.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("content1.png", class:"img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cotton</h2>
                    <p class="lead">The cotton problem is very important.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("content2.png", class:"img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Green, Blue and<br>Grey Water</h2>
                    <p class="lead">There are three type of water: green, blue and grey.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("content3.png", class:"img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->



	<!--<a name="contact"></a>-->
    <div class="banner">

        <div class="container">
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-fw"></i> <span class="network-name">Make the Test Now</span></a>
                        </li>
                    </ul>
				</div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
