<% provide(:title, "Info") %>

<div class="info_header">
    <div class="container">
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->


<div class="jumbotron text-center">
  <h2>All You Need To Know About Water Footprint</h2>
</div>


  <div class="content-section-a">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Introduction</h2>
              <p class="lead">Created in 2002 by Arjen Hoekstra, the water footprint is one of the family of
                environmental footprints that help us understand how our production and consumption choices are
                affecting natural resources. As population grows and the <%= image_tag("content3.png", align:"right", height:"250") %> standard of living increases for many
                people, the water footprint tells us how much water is used each and every day in all our activities,
                such as for producing our food and to clothe us, and indicates the pressure we exert on our freshwater
                resources.<br />
                Water footprints can be calculated for an individual person, a process, a product’s entire value chain
                or for a business, a river basin or a nation. They provide powerful insights for businesses to
                understand their water-related business risk, for governments to understand the role of water in their
                economy and water dependency, and for consumers to know how much water is hidden in the products they
                use. Most importantly, they help drive strategic action toward sustainable, efficient and equitable
                water use.</p>
          </div>
      </div>
  </div>

  <div class="content-section-b">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">What is Water Footprint Assessment?</h2>
              <p class="lead">What is the water footprint of humanity, of cotton grown in the Indus River basin, of
                Brazilian soybeans imported into the European Union, of a flower farm in Ethiopia? How do we know if a
                country, a product a business or a river basin has a sustainable water footprint? What actions should
                be taken and where should we start working first? We can find out answers to these questions when we
                conduct a Water Footprint Assessment.<br />
                While the price of water is rarely a driving force, many companies are awakening to the fact that their
                business is reliant on water, in their operations or their supply chain. The water footprint can help
                all producers learn about their water dependence and plot a course for addressing water-related
                business risks.</p>
          </div>
      </div>
  </div>


    <div class="content-section-a">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Introduction</h2>
                <p class="lead">Created in 2002 by Arjen Hoekstra, the water footprint is one of the family of
                  environmental footprints that help us understand how our production and consumption choices are
                  affecting natural resources. As population grows and the <%= image_tag("content3.png", align:"right", height:"250") %> standard of living increases for many
                  people, the water footprint tells us how much water is used each and every day in all our activities,
                  such as for producing our food and to clothe us, and indicates the pressure we exert on our freshwater
                  resources.<br />
                  Water footprints can be calculated for an individual person, a process, a product’s entire value chain
                  or for a business, a river basin or a nation. They provide powerful insights for businesses to
                  understand their water-related business risk, for governments to understand the role of water in their
                  economy and water dependency, and for consumers to know how much water is hidden in the products they
                  use. Most importantly, they help drive strategic action toward sustainable, efficient and equitable
                  water use.</p>
            </div>
        </div>
    </div>
