<% provide(:title, "Info") %>

<div class="header_image">
    <div class="container">
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->

<!-- Page Title -->
<div class="jumbotron text-center">
  <h1>About water footprint</h1>
</div>

<!-- Page Content -->
  <div class="content-section-a" align="justify">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">What is a water footprint?</h2>
              <p class="lead">
                People use lots of water for drinking, cooking and washing but even more is used for growing our food
                and for making our clothing.<br /><br />
                The water footprint measures the amount of water used to produce each of the goods and services we use.
                The water footprint is a measure of humanity’s appropriation of fresh water in volumes of water
                consumed and/or polluted.<br />
                The water footprint helps us understand for what purposes our limited freshwater resources are being
                consumed and polluted. The impact it has depends on where the water is taken from and when.<br /><br />

                <%= image_tag("Water1.png", align:"right", height:"300") %>
                The water footprint has three components: green, blue and grey.<br />
                <span class="fa fa-tint" style="color:#339933"></span><strong style="color:#339933"> Green water footprint</strong> is water from precipitation that is stored in the root zone of the soil and
                evaporated, transpired or incorporated by plants. It is particularly relevant for agricultural,
                horticultural and forestry products.<br />
                <span class="fa fa-tint" style="color:#009bd1"></span><strong style="color:#009bd1"> Blue water footprint</strong>
                is water that has been sourced from surface or groundwater resources and is either evaporated,
                incorporated into a product or taken from one body of water and returned to another, or returned at a
                different time. Irrigated agriculture, industry and domestic water use can each have a blue water
                footprint.<br />
                <span class="fa fa-tint" style="color:#808080"></span><strong style="color:#808080"> Grey water footprint</strong>
                is the amount of fresh water required to assimilate pollutants to meet specific water quality
                standards. The grey water footprint considers point-source pollution discharged to a freshwater
                resource directly through a pipe or indirectly through runoff or leaching from the soil, impervious
                surfaces, or other diffuse sources.<br />
              </p>
          </div>
      </div>
  </div>

  <div class="content-section-b" align="justify">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">What is Water Footprint Assessment?</h2>
              <p class="lead">
                Water Footprint Assessment is a four-phase process that quantifies and maps green, blue
                and grey water footprints, assesses the sustainability, efficiency and equitability of water use and
                identifies which strategic actions should be prioritised in order to make a footprint sustainable.<br /><br />
                These are the four phases of Water Footprint Assessment:<br />

                <%= image_tag("balance.png", align:"right", height:"250") %>
                <span class="fa fa-tint" style="color: white"></span><strong> Goals and Scope: </strong>
                A Water Footprint Assessment begins with setting the goals and scope of the water footprint study.
                A Water Footprint Assessment can be tailored to meet the goals and scope of the study. The goal of
                the Water Footprint Assessment clarifies what you will do in the subsequent steps: accounting,
                sustainability assessment and response formulation.<br />
                <span class="fa fa-tint" style="color: white"></span><strong> Accounting: </strong>
                Once the goal and scope of the Water Footprint Assessment have been defined, the data are collected
                to calculate the footprint of the relevant processes for the study.
                These may come from global databases or collected locally.<br />
                <span class="fa fa-tint" style="color: white"></span><strong> Sustainability Assessment: </strong>
                Water Footprint Assessment is used to assess whether water use is environmentally sustainable,
                resource efficient and equitably allocated.
                In the sustainability assessment step, we are assessing whether water use is balancing the needs of
                people and nature, if our limited water resources are being used to the greatest benefit and how
                fairly we are sharing the waters we use.<br />
                <span class="fa fa-tint" style="color: white"></span><strong> Response Formulation: </strong>
                Using the information gained in the accounting and sustainability assessment steps of Water Footprint
                Assessment, response strategies that reduce the water footprint and improve its sustainability can be
                prioritised for implementation. Response strategies can range from investing in better metering to
                enable improved water management, to changes in practices or investments in technology that will
                reduce the water footprint at any step along the value chain.<br />
              </p>
          </div>
      </div>
  </div>

  <div class="content-section-a" align="justify">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Product water footprint</h2>
              <p class="lead">The water footprint of a product is the amount of water that is consumed and polluted
                in all processing stages of its production.<br />
                <%= image_tag("info_3.png", align:"left", height:"250") %>
                By measuring the volume and source of water consumed in the production of a product and the volume of
                water needed to assimilate pollutants so that water quality standards are met, we can get a picture
                of how a specific product contributes to the growing concerns of water scarcity and degraded water
                quality.<br />
                The water footprint of a final product, e.g., a pair of jeans, is the summation of the water
                footprint of each step, or process, required to produce that product. A pair of jeans will require
                cotton to be grown, ginning and spinning of the fibres, weaving, sewing and wet processing of the
                fabric to ultimately have the finished product. Each step has a direct water footprint and an
                indirect water footprint. The direct water footprint of one process becomes the indirect water
                footprint of the next process. In this way, the full amount of water consumed or polluted is taken
                into account in the product water footprint.<br />
                By measuring the water footprint of a product in volumes of water per unit of production, it is
                possible to assess how efficiently the product has been produced.
              </p>
          </div>
      </div>
  </div>

  <div class="content-section-b" align="justify">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Business water footprint</h2>
              <p class="lead">
                Water is a crucial resource for every business, whether you sell food, electronics, clothing or other
                consumer items. A business’s water footprint is a measurement of the total water consumed to produce
                the goods and services it provides. It is a combination of the water that goes into the production
                and manufacturing of a product or service and the water used throughout the supply chain, as well as
                during the use of the product.
              </p>
          </div>
      </div>
  </div>

  <div class="content-section-a" align="justify">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">National water footprint</h2>
              <p class="lead">
                Water, like energy, is a key input into any economy. With variations in water availability and
                quality from country to country, water is a local issue. At the same time, because we use
                international trade in goods to meet the needs of the world’s populations, water is a global,
                collective resource.<br />
                The United Nations warns that water use is growing at twice the rate of
                population growth. Unless this trend is reversed, two-thirds of the global population will face
                water “stress” by 2025.<br /><br />
                <%= image_tag("world-water.png", align:"left", height:"250") %>
                The water footprint of production is the amount of local water resources that are used to produce
                goods and services within the country. This includes the water footprint of agriculture, industry
                and domestic water use and tells us the total volume of water and assimilation capacity consumed
                within the borders of the country. This can also be measured for any administrative unit such as a
                city, province, river basin or even the whole world.<br />
                We can also view the water footprint from the perspective of consumption. In this case, the water
                footprint is calculated for all the goods and services that are consumed by the people living in a
                country. This water footprint may be partly inside the country and partly outside of it, depending on
                whether the products are locally produced or imported. The water footprint of consumption can also be
                measured for any administrative unit.<br /><br />
                The water footprint of production measures the amount of pressure that is being put on local water
                resources and forms the basis for determining whether they are being used in a sustainable way. The
                water footprint of consumption reflects the standard of living and lifestyle choices of the country’s
                residents. Understanding how much of that water footprint is within its borders and the amount and
                location of the water footprint that is elsewhere is a first step toward assessing the country’s
                external water dependence and its influence on food and other forms of security.
              </p>
          </div>
      </div>
  </div>

  <div class="content-section-b" align="justify">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Personal water footprint</h2>
              <p class="lead">
                Do you know how much water was used to grow your food and to produce your clothes and the things you
                buy?<br /><br />
                It is a surprising amount. You may not see this 'invisible’ water, but it accounts for most of the
                water you use, far more than you use from the tap. Our use of water is not limited to kitchens,
                bathrooms and gardens. On a daily basis, we contribute to the consumption of large quantities of
                water when buying various products, from the food we eat, paper and cotton to biofuel. This way, we
                indirectly affect water resources throughout the world.
              </p>
          </div>
      </div>
  </div>

<!-- Information Source -->
  <div class="content-section-a" align="center">
      <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
              <h6 style="color:#595959;">These information were taken from <a href="http://www.waterfootprint.org" target="_blank">waterfootprint.org</a></h6>
          </div>
      </div>
  </div>
