<% provide(:title, "Info") %>

<div class="info_header">

    <div class="container">

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->


<div class="jumbotron text-center">
  <h1>All You Need To Know About Water Footprint</h1>
  <h3>some Text</h3>
</div>
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">How much water do we waste every day?</h2>
                <p class="lead">Despite what we might think, direct water usage is far
                  less than the indirect one; in fact an enormous quantity of water is
                  used every day to produce food and clothing that people need.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-md-3 col-md-offset-1  col-sm-pull-6  col-sm-6">
                <%= image_tag("info_content.png", class:"img-responsive") %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
