<% provide(:title, "History") %>

<div class="info_header">

    <div class="container">

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<div class="jumbotron text-center">
  <h1>History</h1>
</div>

<div class="container text-center form-horizontal">
  <div class="logo-test-start"></div>
  
  <h1>Listing Results</h1>

  <table>
    <thead>
      <tr>
        <th>Score</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.score %></td>
          <td><%= result.user_id %></td>
          <td><%#= link_to 'Show', result %></td>
          <td><%#= link_to 'Edit', edit_result_path(result) %></td>
          <td><%#= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New Result', new_result_path %>
</div>
